/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 12.36px Arial, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
	color: #a00;
	text-decoration:none;
	outline: none;
}
    
a:visited {
  color: #a00;
}

a:hover {  
	background: rgba(164, 173, 183, .15);  
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.postlist {
  list-style-type: none;
  width: 40em;
  margin-bottom: 2em;
  min-height: 250px;
}

ul.postlist li{
  margin-bottom: 0.5em;
}

ul.postlist a {
	padding: .5em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

ul.tweets {
  list-style-type: none;
  width: 60em;
  margin-bottom: 2em;
}

ul .time {
	color: #aaa;
	font-size: 80%;
}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.backgroundimage {
	border: 1px solid white;
	width: 70em;
	margin: 0 auto 0 auto;
	background: white url('/images/strawberry.jpg') no-repeat top right;
}

.site {
  font-size: 110%;
  text-align: left;
  width: 60em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {
    color: #a00;
    text-decoration: none;
    margin-left: -.5em;
	padding: .5em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;   
	}
	
  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }
  
    .site .footer .contact {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .contact img {
        border: 0;
      }
      
	.site .footer .contact a:hover {
        background: white;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.posts {
	min-height: 250px;
	width: 40em;
}

.navigation a {
	color: #a00;
    text-decoration: none;
    margin-left: -.5em;
	padding: .5em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;   
}

.post {
	min-height: 400px;
	width: 40em;
}

  /* standard */

.str { color: #600; }
.kwd { color: #006; font-weight: bold; }
.com { color: #050; }
.typ { color: #404; font-weight: bold; }
.lit { color: #044; }
.pun { color: #440; }
.pln { color: #000; }
.tag { color: #006; font-weight: bold; }
.atn { color: #404; }
.atv { color: #060; }

@media print {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun { color: #440; }
  .pln { color: #000; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
}

  .post pre {
	background: #F0F0F0 url('../images/shadow.png') repeat-x 0 0;
	padding: 1em;
	overflow: auto;
	color: #404040;
	font-size: 0.9em;
	font-family: 'Inconsolata', Monaco, "Courier New", Courier, monospace;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;    
  }

  .post ul,
  .post ol {
    margin-left: 1.25em;
  }


#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }