<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Gary Hodgson" />
   <link href="http://feeds.feedburner.com/garyhodgson-github" rel="alternate" title="garyhodgson.github.com" type="application/atom+xml" />
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   <script src="js/twitter.js"></script>
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">garyhodgson.github.com</a>
  </div>
  
  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
    	<a href="mailto:contact@garyhodgson.com">Email</a> : <a href="http://twitter.com/garyhodgson">Twitter</a>
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/garyhodgson-github">
        <img src="/images/rss.png" alt="RSS Feed" />
      </a>

    </div>
  </div>
</div>

</body>
</html>
